@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap");

.menu-list li {
  @apply text-black pt-5 capitalize md:pt-0 md:px-4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button:has(svg):hover,
button:has(i):hover {
  background-color: #0253a3;
}

@font-face {
  src: url("../assets/fonts/Roboto-Black.ttf");
  font-family: Roboto;
  font-weight: 700;
}
@font-face {
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-family: Roboto;
  font-weight: 400;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  font-weight: 400;
  overflow-x: hidden;
  background-color: rgb(245, 245, 245);
}
.btn {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  outline: none;
  margin: 20px 0;
  padding: 20px 10px;
  border-radius: 5px;
  background-color: #2fa1f4;
  border: none;
  cursor: pointer;
  -webkit-animation: scaling 2s infinite alternate;
  animation: scaling 2s infinite alternate;
  overflow: hidden;
}
.btn:hover {
  background-color: #277dba;
}
input,
button {
  outline: none;
}
p {
  color: #333333;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 18px;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  top: 25%;
  color: #cd691d;
}
section {
  background-color: white;
}
.nav_contents {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.nav_contents li {
  list-style-type: none;
  font-size: 19px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  border-bottom: 3px solid white;
}
.nav_contents li:hover {
  /* text-decoration: underline; */
  border-bottom: 3px solid black;
}
.product_wrap {
  /* border: 3px solid red; */
  position: relative;
}
.product_wrap .thumbnail {
  /* background-color: #103cc0; */
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0%;
}

.product_wrap:hover .thumbnail {
  transition: all 300ms ease-in;
  background-color: rgba(16, 60, 192, 0.9);
  /* height: 100%; */
  /* bottom: 0%; */
}
.product_wrap .thumbinfo {
  transition: all 300ms ease-in-out;
  position: absolute;
  left: 0;
  width: 100%;
  /* height: 30%; */
  bottom: -40%;
  background-color: white;
}
.product_wrap:hover .thumbinfo {
  transition: all 600ms ease-in;
  bottom: 0%;
}
.product_wrap:hover .thumbinfo > div {
  /* border: 2px solid red; */
}

.checkout .input {
  width: 100%;
}
.checkout .input input {
  padding: 13px 11px;
  background-color: inherit;
  color: #333333;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 100%;
}

.contents {
  width: 70%;
  background-color: #cd691d !important;
}
.contents_wrap p {
  margin: 20px 0;
}

.footer .list {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto 50px;
  color: white;
}

.footer .list h3 {
  margin-bottom: 20px;
  font-size: 30px;
}

.footer .list > div p {
  text-transform: capitalize;
  color: white;
}

.footer .list > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
}

@media (max-width: 724px) {
  .product_wrap .thumbinfo {
    transition: all 300ms ease-in-out;
    position: absolute;
    left: 0;
    width: 100%;
    /* height: 30%; */
    bottom: -70%;
    background-color: white;
  }
  .product_wrap:hover .thumbinfo {
    transition: all 600ms ease-in;
    bottom: 0%;
  }
}
